.pagination-SixSide{
    width: 100%;
    text-align: center;
    ul{
        @include flex(row, nowrap);
        align-items: center;
        li{
            margin-left: 5px;
            a{
                @include font($f16, 500, '');
                color: $graydarck;
                position: relative;
                text-decoration: none;
                padding: 11px 0px;
                width: 42px;
                display: block;
                height: 36px;
                background: $pagination;
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                
                svg{
                    width: 9px;
                    margin-right: 3px;
                    margin-top: -1px;
                    path{
                        stroke: $pink;
                    }
                }
               
            }
        }
        li:nth-last-child(1){
            margin-left: 0;
        }
        li:nth-child(1) svg{
            
                transform: rotate(180deg);
                margin-left: 5px;
            
        }

    }
}
