// abstracts
@import "../abstracts/_mixin.scss";
@import "../abstracts/_variables.scss";

.table-custom{
    width: 100%;
    min-width: 600px;
    &-header{
        width: 100%;
        background: $graylighttwo;
        padding: 20px 30px; 
        border-radius: 15px;
        ul{
            @include flex(row, nowrap);
            align-items: center;
            justify-content: space-between;
            li{
                @include font($f17, 500, '');
                color: $black;
                width: 25%;
                text-align: center;
            }
            li:nth-child(1){
                text-align: right;
            }
            li:nth-last-child(1){
                text-align: left;
            }
        }
    }
    &-body{
        width: 100%;
        padding: 20px 30px 0px; 
        overflow-x: scroll;
        min-width: 500px;
        &::-webkit-scrollbar {
            background-color: #fff;
            border: none;
            border-radius: 5px;
            width: 7px;
            }
        
            &::-webkit-scrollbar-button {
            display: none;
            }
        
            &::-webkit-scrollbar-thumb {
            background-color: $Purple;
            width: 10px;
            border-radius: 20px;
            }
        &-row{
            margin-bottom: 20px;
            padding-top: 10px;
            position: relative;
            &::after{
                content: "";
                width: 100%;
                border-bottom: 1px solid $graylighttwo;
                height: 1px;
                position: absolute;
                bottom: -15px;
            }
            ul{
                @include flex(row, nowrap);
                align-items: center;
                justify-content: space-between;
                li{
                    @include font($f16, 300, 25px);
                    color: $black;
                    width: 25%;
                    text-align: center;
                }
                li:nth-child(1){
                    text-align: right;
                }
                li:nth-child(2){
                    color: $pink;
                }
                li:nth-last-child(1){
                    text-align: left;
                    color: $pink;
                    font-weight: 500;
                }
            }
            &-cunter{
                margin: 0 auto;
                @include flex(row, nowrap);
                align-items: center;
                border-radius: 5px;
                border: 1px solid $bordercart;
                width: fit-content;
                overflow: hidden;
                button, input{
                    width: 30px;
                    height: 30px;
                    padding: 4px;
                    border: none;
                    outline: none;
                    background-color: $white;
                }
                input{
                    font-weight: 400;
                    background: $graylighttwo;
                    padding: 9px 0;
                    text-align: center;
                    border-left: 1px solid $bordercart; 
                    border-right: 1px solid $bordercart; 
                    &::-webkit-inner-spin-button{
                        appearance: none;
                    }
                }
            }
        }
        &-row:nth-child(1){
            padding-top: 0;
        }
        
    }
    &-footer{
        @include flex(column, nowrap);
        align-items: flex-start;
        padding: 0 30px;
        &-code{
            @include flex(row, nowrap);
            align-items: center;
            width: 100%;
            margin-bottom: 30px;
            span {
                @include font($f16, 500, '');

            }
            label{
                @include font($f16, 300, '');
                margin-left: 5px;

            }
            input{
                
                border-radius: 7px;
                border: 1px solid $borderInput;
                padding: 9px 10px;
                outline: none;
                color: $graydarck;
                &::-webkit-inner-spin-button{
                    appearance: none;
                }
            }
            span:nth-last-child(2){
                flex-grow: 1;
                text-align: left;
                color: $black;
            }
            span:nth-last-child(1){
                color: $red;
            }
        }
        &-radius{
            @include flex(row, nowrap);
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
            justify-content: right;
            label{
                @include font($f16, 300, '');
                color: $black;
                margin-right: 5px;
            }
            input:nth-last-child(2){
                margin-right: 20px
            }
            input[type="radio"]:checked::before{
                content: "";
                color: $pink;
                background: $pink;
                width: 15px;
                height: 15px;
                border-radius: 20px;
                margin: -.5px -.5px 0 0;
                position: absolute
            }
        }
        &-buy{
            @include flex(row, nowrap);
            align-items: center;
            width: 100%;
            margin-bottom: 15px;
            p{
                @include font($f16, 300, '');
                flex-grow: 1;
                color: $pink;
            }
        }
    }
}
.table-custom-body-row-two ul li{
    width: 50% !important;
}
.table-custom-header-two ul li{
    width: 50% !important;
}


.table-custom-body-row-five ul li{
    width: 20% !important;
}
.table-custom-body-row-five ul li:nth-child(2){
    color: $black;

}
.table-custom-body-row-five ul li:nth-child(3){
    color: $green;
    font-weight: 400;
}
.table-custom-body-row-five ul li:nth-child(4){
    color: $pink;
    font-weight: 500;
}
.table-custom-header-five ul li{
    width: 20% !important;
}



.table-custom-body-row-fore ul li{
    width: 20% !important;
    color: $black;
}
.table-custom-body-row-fore ul li:nth-last-child(3){
    color: $black;
}
.table-custom-body-row-fore ul li:nth-last-child(1){
    width: 40% !important;
    text-align: right;
    color: $black;
    font-weight: 300;
}
.table-custom-header-fore ul li{
    width: 20% !important;
}
.table-custom-header-fore ul li:nth-last-child(1){
    width: 40% !important;
    text-align: right;
}



.table-custom-body-row-fivee ul li{
    width: 18% !important;
    color: $black;
}
.table-custom-body-row-fivee ul li:nth-child(2){
    color: $black;
}
.table-custom-body-row-fivee ul li:nth-last-child(1){
    width: 28% !important;
    text-align: right;
    color: $black;
    font-weight: 300;
}
.table-custom-header-fivee ul li{
    width: 18% !important;
}
.table-custom-header-fivee ul li:nth-last-child(1){
    width: 28% !important;
    text-align: right;
}




.table-custom-body-row-foree ul li{
    width: 20% !important;
    color: $black;
}
.table-custom-body-row-foree ul li:nth-last-child(3){
    color: $black;
}

.table-custom-body-row-foree ul li:nth-last-child(2){
    width: 30% !important;
    text-align: right;
    color: $black;
    font-weight: 300;
}
.table-custom-body-row-foree ul li:nth-child(1){
    width: 30% !important;
}
.table-custom-header-foree ul li{
    width: 20% !important;
}
.table-custom-header-foree ul li:nth-child(1){
    width: 30% !important;
}
.table-custom-header-foree ul li:nth-last-child(2){
    width: 30% !important;
    text-align: right;
}


.table-custom-body-row-foree-comment{
    ul{
        li:nth-child(1){
            @include flex(row, nowrap);
            justify-content: flex-start;
            align-items: center;
            img{
                width: 60px;
                height: 60px;
                border-radius: 10px;
                margin-left: 3px;
            }
        }
        button{
            border-radius: 5px;
            border: none;
            background: #ff23231a;
            padding: 7px ;
            svg{
                width: 15px;
                stroke: #FF2323;
            }
        }
    }
}


.table-custom-body-row-panel:nth-last-child(1){
    &::after{
        display: none;
    }
}
.p-tablebutton{
    padding: 12.5px 20px 13px 3px;
}


.table-custom-body-row-green{
 color:$green !important;
}
.table-custom-body-row-blue{
 color:$blue !important;
}
.table-custom-body-row-bold{
font-weight: 400 !important;
}
.panel-user .table-custom,
.panel-user .table-custom-body{
    min-width: 750px;
}