@import "../../abstracts/mixin";
@import "../../abstracts/variables";

.topic-top-panel {
    padding-right: 20px;
}

.form-gr-panel {
    flex-wrap: wrap;
    justify-content: flex-start;

    label {
        font-size: 15px;
        font-weight: 500;
    }

    .form-gr-input {
        min-width: 46%;
        max-width: 49%;
        margin-top: 20px;

        input::placeholder {
            color: $borderInput;
            text-align: center;
        }

        p {
            @include font($f14, 400, 25px);
            text-align: right;
            color: $green;
            flex-grow: 1;

        }
    }

    .form-gr-input:nth-child(1),
    .form-gr-input:nth-child(2) {
        margin-top: 0;
    }

    .form-gr-input:nth-child(2n) {
        margin-right: 20px;
    }

    .form-gr-submit {
        flex: 0 1 100%;
        text-align: left;
    }

    @media (max-width: 992px) and (min-width: 767px) {
        width: auto;
        margin-top: 20px;
    }
}

.calender-user {
    @include font($f16, 500, 25px);
    padding: 10px 10px 20px;

    svg {
        margin-left: 10px;
    }
}

.w-new {
    width: 49%;

    .form-gr-input {
        max-width: 100%;
    }
}

.left-m {
    margin: 0 auto;
    margin-left: 0;
}

.wallet {
    @include flex(row, nowrap);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    &-right{
        @include flex(row, wrap);
        justify-content: start;
        p{
            @include font($f18, 500, '');
            color: $black;
        }
        span{
            @include font($f16, 400, '');
            color: $pink;
            margin-right: 10px;
        }
        &-filter{
            @include flex(row, wrap);
            justify-content: start;
            margin-top: 20px;
            flex: 0 1 100%;
            width: 100%;
            label{
                @include font($f16, 400, '');
                color: $black;
                margin-left: 10px;
            }
            select{
                border: 1px solid $borderInput;
                padding: 5px 20px;
                background: $bg-input;
                border-radius: 5px;
                outline: none;
            }
            div:nth-child(1){
                margin-left: 20px;
               
            }
            div{
                @include responsive($lg){
                    margin-top: 10px;
                }
            }
        }
    }
    &>div{
        min-width: 270px;
    }
    @include responsive($md){
        flex-wrap: wrap;

        button{
            margin-top: 20px;
            justify-self: end;
            width: auto;
        }
    }
}
.panel-user {
    @include responsiveBt($lg, $md ){
        .form-gr-panel .form-gr-input{
            margin-top: 20px;
            margin-right: 10px;
            max-width: 48%;

        }
        .form-gr-panel .form-gr-input:nth-child(2n){
            margin-right: 0;
        }
        .w-new{
            width: 100%;
        }
    }
    @include responsive($sm ){
        .form-gr-panel .form-gr-input{
            margin-top: 20px;
            margin-right: 0;
            max-width: 100%;
            width: 100%;
        }
        .form-gr-panel .form-gr-input:nth-child(2n){
            margin-right: 0;
        }
        .w-new{
            width: 100%;
        }
    }
}