// core
@import "core/_resert.scss";
@import "core/_typography.scss";


// abstracts
@import "abstracts/_mixin.scss";
@import "abstracts/_variables.scss";


// components 
@import "components/_menu.scss";
@import "components/use";
@import "components/footer";
@import "components/cartBoxLerning";
@import "components/pagination";
@import "components/content";
@import "components/commentUser";
@import "components/blog";
@import "components/cartBoxBuy";
@import "components/table";
@import "components/cartApp";



// layout
@import "layout/ContactUs";
@import "layout/index";
@import "layout/panel";
@import "layout/loginSuignUp";


.col-cheng{
    @include responsive($sm){
        .col{
            flex: 1 .5 50%;
        }
    }
    @include responsive(360px){
        .col {
            flex: 1 1 100%;
            justify-content: center;
            margin: 0 auto;
        }
    }
}