@mixin font($size, $weight, $lineHeight) {
    font-family: 'kalameh';
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
}

@mixin flex($direction, $wrap) {
    display: flex;
    justify-content: center;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin shadow($y, $dropShadow) {
    box-shadow: 0 $y $dropShadow 0 $black-shadow;
}
@mixin responsive($sizeResponsive) {
    @media (max-width:$sizeResponsive) {
        @content ;
    }
}
@mixin responsiveMin($sizeResponsiveMin) {
    @media (min-width:$sizeResponsiveMin) {
        @content ;
    }
}
@mixin responsiveBt($sizeResponsiveOne, $sizeResponsiveTwo) {
    @media (max-width:$sizeResponsiveOne) and (min-width:$sizeResponsiveTwo) {
        @content ;
    }
}