.contactUs {
    &-vector {
        text-align: center;

        img {
            width: 100%;
            padding: 30px;
            max-width: 500px;
        }
    }

    &-fq {
        width: 95%;
        margin: 0 auto;

        span {
            width: 20px;
            height: 20px;

            img {
                width: 100%;
            }
        }

        .accordion-button {
            @include font($f16, 300, 25px);
            text-align: right;
            color: $graydarck;
            padding: 20px 0;
            padding-right: 8px;
            padding-left: 10px;
            background: transparent;
            @include responsive($sm){
                font-size: 14px !important;
             }
        }

        .accordion-header {
            display: flex;
            align-items: center;
        }

        .accordion-button:not(.collapsed)::after {
            background: url('../image/img/Group-6114.png');
            background-size: 100%;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-left: 0;
            height: 3px;
            width: 18px;
            border-radius: 5px;
        }

        .accordion-button::after {
            background: url('../image/img/Group-6112.png');
            background-size: 80%;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-left: 0;

            height: 18px;
            width: 18px;
            border-radius: 5px;
        }

        .accordion-item {
            background: transparent;
        }

        .accordion-button:not(.collapsed) {
            font-weight: 500;
            color: $graydarck;
            background: transparent;
            box-shadow: none;

        }

        .accordion-button:focus {
            border-color: $white;
            box-shadow: none;
        }

        .accordion-body {
            @include font($f16, 300, 25px);
            color: $graydarck;
            padding-top: 0;
            @include responsive($sm){
                font-size: 14px !important;
             }
        }
    }
    &-Way{
        margin-top: 30px;
        width: 100%;
        ul{
            @include flex(column, nowrap);
            align-items: flex-start;
            li{
                @include flex(row, nowrap);
                margin-bottom: 20px;
                align-items: center;
                justify-content: right;
                span{
                    @include font($f16, 300, 30px);
                    color: $black;
                    @include responsive($sm){
                        font-size: 14px !important;
                     }
                }
                img{
                    width: 40px;
                    margin-left: 20px;
                   
                }
                a{
                    img{
                        width: 35px;
                    }
                }
            }
            li:nth-last-child(1) span{
                margin-left: 15px;
                
            }
        }
    }
}